ul {
  margin: 0px;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

body {
  font-family: "Segoe UI";
  background: lightsteelblue;
  margin: 10px;
}

.active-link {
}

input {
  margin: 5px;
}
